/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, applet, object, iframe,
h1, h2, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, header, div {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.main {
  text-align: left;
  color: black;
  
}

/*
  ========================================
  Custom styles
  ========================================
*/

body {
  height: 100%;
  background: #ADD8E6;
  color: #888;
  font: 300 16px/22px "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/*
  ========================================
  Grid
  ========================================
*/

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.container {
    margin: 0 auto;
    width: 70%;
    min-width: 700px;
}
.grid {
  margin: 0 auto;
  width: 100%;
    background: white;
}
.container {
  padding-left: 30px;
  padding-right: 30px;
}
.containers {
  padding: 16px;
}

.grid,
.col-1-3,
.col-2-3,
.col-1-5,
.col-4-5 {
  padding-left: 1px;
  padding-right: 1px;
}
.col-1-3,
.col-2-3,
.col-1-5,
.col-4-5 {
  display: inline-block;
  vertical-align: top;
}
.col-1-3 {
  width: 33.33%;
}
.col-2-3 {
  width: 66.66%;
}
.col-1-5 {
    width: 20%;
    background: black;
    height: 100%;
    opacity: 0.75;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 20px;
    color: white;
    min-width: 250px;
    z-index: 1;
}
.col-4-5 {
    background: white;
    width: 79%;
    height: 100%;
    padding-top: 40px;
    padding-left: 5%;
    padding-right: 5%;
}

/*
  ========================================
  Clearfix
  ========================================
*/

.group:before,
.group:after {
  content: "";
  display: table;
}
.group:after {
  clear: both;
}
.group {
  clear: both;
  *zoom: 1;
}

/*
  ========================================
  Rows
  ========================================
*/

.row,
.row-alt {
  min-width: 960px;
}
.row {
    height: 600px;
    background: white;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.rows {
    height: 600px;
    min-width: 960px;
}
.row-alt {
  background: #cbe2c1;
  background: -webkit-linear-gradient(to right, #a1d3b0, #f6f1d3);
  background:    -moz-linear-gradient(to right, #a1d3b0, #f6f1d3);
  background:         linear-gradient(to right, #a1d3b0, #f6f1d3);
  padding: 44px 0 22px 0;
}

/*
  ========================================
  Typography
  ========================================
*/

h1, h2, h4 {
  color: #648880;
}
h1, h4, h5, p {
  margin-bottom: 22px;
}
h1 {
  font-size: 36px;
  line-height: 44px;
  
   text-align:center;

}

h2 {
  font-size: 24px;
  line-height: 44px;
  text-align:center;
}
h4 {
  font-size: 18px;
  text-align:center;
}
h5 {
  color: #a9b2b9;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
}
strong {
  font-weight: 400;
}
cite,
em {
  font-style: italic;
}

/*
  ========================================
  Leads
  ========================================
*/

.lead {
  text-align: center;
}
.lead p {
  font-size: 21px;
  line-height: 33px;
}

/*
  ========================================
  Links
  ========================================
*/

a {
  color: #648880;
  text-decoration: none;
}
a:hover {
  color: white;
}
p a {
  border-bottom: 1px solid #dfe2e5;
}
.primary-header a,
.primary-footer a {
  color: #648880;
  text-align: center;
}
.primary-header a:hover{
  color: cornflowerblue;
}
.primary-footer a:hover {
  color: white;
}

/*
  ========================================
  Buttons
  ========================================
*/

.btn1 {
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-weight: 400;
  letter-spacing: .8px;
  text-transform: uppercase;
    border: 2px solid #fff;
}
.btn-default {
  border: 0;
  background: #648880;
  padding: 11px 30px;
  font-size: 14px;
}
.btn-default:hover {
  background: #77a198;
}
.btn-alt1 {
  padding: 20px 25px;
}
.btn-alt1:hover {
  border: 3px solid #fff;
  color: black;
}

button {
    background-color: #39747D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}
button:hover {
    opacity: 0.8;
    background-color: #514646;
    color: white;
}

/* Extra styles for the cancel button */
.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: red;
}

.signupbtn{
	 width: auto;
    background-color:#514646;
    color: white;
  	padding: 14px 20px;
  	margin: 8px 0;
  	border: none;
  	cursor: pointer;
  	width: 50%;
  	opacity: 0.8;
}

.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}

img.avatar {
    width: 50%;
    border-radius: 50%;
}

img.cart {
	border-radius: 5px;
	display: block;
	width: 50px;
	height: 35px;
}

.cart:hover{
	background: white;
}


/*
  ========================================
  Primary header
  ========================================
*/

.logo {
  border-top: 5px solid #648880;
  text-align: left;
  float: left;
  font-size: 50px;
  font-weight: 500;
  letter-spacing: 1.2px;
  line-height: 45px;
  padding: 30px 0 5px 0;
}

.tagline {
  font-style:italic;
  color: #000000;
  font-size: 25px;
  text-align: right;
}

.primary-nav {
  font-size: 15px;
  font-weight: 400;
  letter-spacing: .5px;
  text-transform: uppercase;
}

/*
  ========================================
  Primary footer
  ========================================
*/

.primary-footer {
  color: #648880;
  font-size: 14px;
  padding-bottom: 44px;
  padding-top: 44px;
}
.primary-footer small {
  float: left;
  font-weight: 400;
}

/*
  ========================================
  Navigation
  ========================================
*/

.nav {
  text-align: right;
}
.nav li {
  display: inline-block;
  margin: 0 10px;
  vertical-align: top;
}
.nav li:last-child {
  margin-right: 0;
}

/*
  ========================================
  Home
  ========================================
*/

.hero {
  color: #fff;
  line-height: 44px;
  padding: 22px 80px 66px 80px;
  text-align: center;
}
.hero h2 {
  font-size: 36px;
}
.hero p {
  font-size: 24px;
  font-weight: 100;
}
.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
.teaser img {
  border-radius: 5px;
  display: block;
  margin-bottom: 22px;
  max-width: 100%
}

/*
  ========================================
  Speakers
  ========================================
*/

.speaker {
  margin-bottom: 44px;
}
.speaker-info {
  border: 1px solid #dfe2e5;
  border-radius: 5px;
  margin-top: 88px;
  padding-bottom: 22px;
  text-align: center;
}
.speaker-info img {
  border-radius: 50%;
  height: 130px;
  margin: -66px 0 22px 0;
  vertical-align: top;
}

/*
  ========================================
  Venue
  ========================================
*/

.venue-theatre {
  margin-bottom: 66px;
}
.venue-hotel {
  margin-bottom: 22px;
}
.venue-map {
  height: 264px;
}

/*
  ========================================
  Register
  ========================================
*/

.why-attend {
  list-style: square;
  margin: 0 0 22px 30px;
}
form {
  margin-bottom: 22px;
}

select,
textarea {
  font: 150 16px/22px "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.register-group label {
  color: #648880;
  cursor: pointer;
  font-weight: 400;
}
.register-group input,
.register-group select,
.register-group textarea {
  border: 1px solid #c6c9cc;
  border-radius: 5px;
  color: #888;
  display: block;
  margin: 5px 0 27px 0;
  padding: 5px 8px;
}
.register-group input,
.register-group textarea {
  width: 100%;
}
.register-group select {
  height: 34px;
  width: 60px;
}
.register-group textarea {
  height: 78px;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    background: #f1f1f1;
}




/* The Modal (background) */
.modal1 {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.7); /* Black w/ opacity */
    padding-top: 60px;
}

/* Modal Content/Box */
.modal1-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 50%; /* Could be more or less, depending on screen size */
}

.pop-window {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 20%;
    top: 0;
    width: 40%; /* Full width */
    height: 50%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.7); /* Black w/ opacity */
    padding-top: 60px;
}

/* The Close Button (x) */
.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

.total{
   height:50%;
   width:100%;
   background-position: center;
   background-repeat: no-repeat;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

span.psw {
    float: right;
    padding-top: 16px;
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
}
    
@keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
}



.container {
    padding: 10px;
    text-align:center;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}



.total{
   height:50%;
   width:100%;
   background-image: url(assets/images/passwordandusernamereset.jpg);
   background-position: center;
   background-repeat: no-repeat;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.sidenav-btn {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    text-align: left;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
    background-color: black;
    opacity: 0.75;
    padding-top: 10px;
    padding-bottom: 10px;
}

.col-1-5 .title {
    text-align: left;
    padding-left: 10px;
    padding-bottom: 20px;
    color: beige;
    font-size: 40px;
}

.headernav {
    display: block; 
    height: 35px; 
    font-size: 22px;
}

.setting {
    height: 700px;
    width: 80%;
    min-width: 700px;
    position: relative;
    z-index: 1;
    background-color: white;
    opacity: 0.75;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    color: white;
}

.setting-row {
    width: 100%;
    padding-bottom: 10px;
    padding-top: 10px;
}

.setting-row-tag {
    padding-left: 10px;
    text-align: left;
    font-size: 18px;
    font-weight: 400;
    color: black;
    letter-spacing: 1px;
    background: #D0D3D4;
    padding-top: 5px;
    padding-bottom: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.setting-row-info {
    padding-left: 15px;
    text-align: left;
    font-size: 15px;
    font-weight: 300;
    color: black;
    letter-spacing: 1px;
    background: #D0D3D4;
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.setting a {
    position: relative;
    left: 360px;
}

.setting a:hover {
    color: red;
}

.welcomeM {
    text-align: right;
}

.active {
    background: #D0D3D4;
    color: black;
}
